<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Members of Community Board 6, </h1>
    <p>My name is name. I'm e-mailing you to report a pothole that needs to be fixed.
        It's a hazard to the community. The pothole is located at pothole.location. 
        Here is an image of the pothole: 
          pothole.img.</p>
    <p>The pothole is located at pothole.location</p>
    </p>
    <p>Thanks you,</p>
    <p>User name</p>
  </body>
</html>
