<article id="spiel">
<p>Hey Brooklyn biker.</p>
<p>I bet you've had some awful experiences with poor road quality in the city. What happened? You were in the bike lane. Right were you are supposed to be. Keeping your eyes on the road. And the road came up and wrecked your bike. Or worse, </p>
<p>You cursed. You got angry. You might have even gotten seriously hurt.</p>
<h4>But what did you do about it??? Probably nothing!</h4>

<p>What if there was an easy, seamless way to seriously, seriously bug your elected officials about bad road conditions AND determine which streets you should avoid?</p>

<p></p>

</article>
