<article id="spiel">
<p>Hey Brooklyn biker.</p>
<p>I bet you've had some awful experiences with poor road quality in the city. What happened? You were in the bike lane. Right were you are supposed to be. Keeping your eyes on the road. And the road came up and wrecked your bike or your body.</p>
<p>You cursed. You got angry. You might have even gotten seriously hurt.</p>
<h4>But what did you do about it??? Probably nothing!</h4>

<p>What if there was an easy, seamless way to seriously, seriously bug your elected officials about bad road conditions AND determine which streets you should avoid?</p>

<p>Smooth Streets was a project for the Redhook Hackathon in the spring of 2014. It was conceived of and implemented over the course of less than 24 hours by Vincent Trivett, Colin Hart, Justin Tanacredi, and Jason Kaye.</p>

<p>The idea was simple. If when you encouter poor road conditions, you can open your mobile phone, navigate to this app, and click a single button to plot on the map. Simultaneously, the app will phone and email the relevant community board officials to complain about the pothole. The initial data was pulled from NYC Open Data on 311 pothole complaints in the Red Hook neighborhood of Brooklyn</p>

<p>The hackathon organizers honored us with the awards for best bicycle-related app and the best use of the Twilio api. Twilio representative Ricky Robinett thanked us for our civic-mindedness and eagerness to troll petty politicians.</p>

<p>Unfortunately, since this app did not become a global phenomenon, we are not maintaining the related Twilio account, and thus, Smooth Streets will have to go offline.</p>
</article>
<div class='memorial'>
<%= image_tag "in_memoriam.png" %>
</div>