/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

body {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  font-family: 'Fauna One', serif;
}

header h1 {
    text-align: center;
    font-family: 'Fauna One', serif;
    font-size: 38px;
    display: inline;
}

#wut a {
  font-family: 'Fauna One', Courier, serif;
  text-decoration: none;
  font-size: 36px;
  float: right;
  color: #4a4a4a;
  font-weight: bold;
  padding: 20px;
  margin-top: 5px;

}

#spiel{
  margin:50px;
  margin-left: 350px;
  width: 400px;
}

